.everything{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: right;
    margin: 50px;
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card_image{
    height: 200px; 
    width: 200px; 
    margin-top: 20px;
}